* {
    background-color: rgb(0, 225, 255);
}

h1 {
    margin-left: 50px;
}

.container01 {
    margin-left: 500px;
}

img {
    border-radius: 10%;
}

.description-box-01 {
    border: 2px solid black;
    padding-left: 20px;
    overflow-wrap: break-word;
}

.ingredients-box-01 {
    border: 2px solid black;
    overflow-wrap: break-word;
}

.steps-box-01 {
    border: 2px solid black;
    overflow-wrap: break-word;
}

.ingredients-box-01,
ul,
li {
    background-color: aliceblue;
}

.steps-box-01,
ol {
    background-color: aliceblue;
}

.description-box-01,
p {
    background-color: aliceblue;
}